/* You can add global styles to this file, and also import other style files */

// Marin
.ml-1 {
    margin-left: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mt-01 {
    margin-top: 0.1rem;
}

mb-01{
    margin-bottom: 0.1rem;
}

.ta-r {
    text-align: right;
}

.ta-c {
    text-align: center;
}

.text-start {
    text-align: left;
}

.text-end {
    text-align: right;
}

.bottom {
    display: flex;
    align-items: end;
}

.w-100 {
    width: 100%;
}

/*** FLEX ***/
.full-width {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1;
    margin-right: 20px;
}

.col:last-child {
    margin-right: 0;
}