<form [formGroup]="productCategoryForm" novalidate (ngSubmit)="onSubmit()" *ngIf="productCategories">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>
        <h3 i18n>{{title}}</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input i18n-placeholder="Name" matInput placeholder="Name" formControlName="name">
            <mat-error i18n *ngIf="productCategoryForm.controls['name'].hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label i18n>Parent</mat-label>
            <input i18n-placeholder="Parent" (change)="openModal()" (click)="openModal()" matInput placeholder="Parent" 
            [value]="productCategories!.get(productCategoryForm.controls['parentId'].value!)?.name">
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>