<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title i18n>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" *ngIf="productCategories">
            <mat-label i18n>Filter products by category</mat-label>
            <input i18n-placeholder="Filter prducts by category" (change)="openModal()" (click)="openModal()" matInput placeholder="Filter prducts by category" 
            [value]="productCategories!.get(currentProcutCategory)?.name">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label i18n>Product</mat-label>
            <mat-select (selectionChange)="setUnits()" i18n-placeholder="Select" placeholder="Select" formControlName="product">
              <mat-option *ngFor="let product of filteredProducts" [value]="product.id">
                {{ product.name }}
              </mat-option>
            </mat-select>
            <mat-error i18n *ngIf="form.controls['product'].hasError('required')">
              Product is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label i18n>Amount</mat-label>
            <input matInput type="number" i18n-placeholder="Amount" formControlName="amount">
            <mat-error i18n *ngIf="form.controls['amount'].hasError('required')">
              Amount is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label i18n>Unit</mat-label>
            <mat-select i18n-placeholder="Select" placeholder="Select" formControlName="unit">
              <mat-option *ngFor="let unit of units" [value]="unit">
                {{ unit }}
              </mat-option>
            </mat-select>
            <mat-error i18n *ngIf="form.controls['unit'].hasError('required')">
              Unit is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label i18n>Note</mat-label>
            <input matInput type="text" i18n-placeholder="Note" placeholder="Note" formControlName="note">
          </mat-form-field>
        </div>
      </div>
     
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" i18n>Save</button>
    </mat-card-actions>
  </mat-card>
</form>
