<mat-dialog-content class="mat-typography dialog">
  <div class="page">
    <div class="ml-1 mat-dialog-title">
      <h2>{{project?.name}}</h2>
    </div>
    <div class="page-border">
      <div class="page-content" #document>
        <div class="row">
          <div class="col ml-1">
            <h3>Lieferschein</h3>
          </div>
          <div class="col">
            <img class="logo mt-01" src="/assets/img/pile_logo.png" />
            <span class="logo-text ml-1">INDUSTRIE HAUS SERVICE MP</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <textarea disabled class="customer full-width ml-1" cdkAutosizeMinRows="5"
              [value]="project?.customer"></textarea>
          </div>
          <div class="col contact-info">
            <textarea disabled class="contact-info-content full-width" [value]="contactInfo"></textarea>
          </div>
        </div>



        <table>
          <tr>
            <th i18n>Product</th>
            <th i18n>Amount</th>
            <th i18n>Unit</th>
            <!-- <th i18n>Note</th> -->
          </tr>
          <tr *ngFor="let entry of data.entries;">
            <td>{{entry.productName}}</td>
            <td class="text-end">{{entry.amount}}</td>
            <td class="text-start">{{entry.unit}}</td>
            <!-- <td>{{entry.note}}</td> -->
          </tr>

        </table>
        <div #signContainer class="row signatures">
          <div class="bottom signatures-area">
            <span class="signature-data ml-1">
              {{project?.city}} ,dan {{date | date:"dd.MM.YYYY."}}
            </span>
            <!-- <span class="signature-space ml-1"> </span> -->

            <span class="signature-space ml-1">(Unterschrift Kunde)</span>
            <span class="signature-space ml-1">(Unterschrift A.N.)</span>
          </div>
          <app-sing-pad [width]="signContainer.offsetWidth" class="sing-pad"></app-sing-pad>
        </div>
        <!-- <app-sing-pad></app-sing-pad> -->

      </div>
    </div>
  </div>

  <div class="page-controls">

    <button mat-raised-button class="btn-download" (click)="cancel()">
      <mat-icon>cancel</mat-icon> Cancel
    </button>
    <button mat-raised-button color="primary" class="btn-download ml-1" (click)="downloadAsPdf()">
      <mat-icon>download</mat-icon> Download
    </button>
  </div>
</mat-dialog-content>