<mat-dialog-content class="mat-typography">
  <div class="page">
    <div *ngIf="project" class="ml-1">
      <h2>{{project.name}}</h2>
    </div>
    <div class="page-border">
      <div class="page-content" #document>
        <div class="row">
          <div class="col ml-1">
            <h3>Lieferschein</h3>
          </div>
          <div class="col">
            <img src="/assets/img/pile_logo1.png" />
          </div>
        </div>
        <div *ngIf="project" class="header">
          <h2>{{project.customer}}</h2>
        </div>
        <!-- <h2 mat-dialog-title>{{data.workLog.projectName}}</h2> -->

        <table>
          <tr>
            <th i18n>Product</th>
            <th i18n>Amount</th>
            <th i18n>Unit</th>
            <th i18n>Note</th>
          </tr>
          <tr *ngFor="let entry of data.entries;">
            <td>{{entry.productName}}</td>
            <td>{{entry.amount}}</td>
            <td>{{entry.unit}}</td>
            <td>{{entry.note}}</td>
          </tr>

        </table>
        <app-sing-pad></app-sing-pad>

      </div>
    </div>
  </div>

  <div class="page-controls">

    <button mat-raised-button class="btn-download" (click)="cancel()">
      <mat-icon>cancel</mat-icon> Cancel
    </button>
    <button mat-raised-button color="primary" class="btn-download ml-1" (click)="downloadAsPdf()">
      <mat-icon>download</mat-icon> Download
    </button>
  </div>
</mat-dialog-content>