.page {
  height: 80vh;
}

.page-controls{
  float: right;
  padding: 1rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.paint-canvas {
  border: 1px black solid;
  display: block;
  margin: 1rem;
}